/**
 * Student name:    Kirstine Brørup Nielsen
 * Student id:      100527988
 * Date:            18.10.2016
 * Assignment:      EzyHire
 * Version:         Prototype
 * File:            main.css
 */

.title {
	font-size: 50px;
	padding-left: 50px;
	padding-top: 40px;
	text-align: left;
}
